.home {
    background-color: $colorGris;
    font-family: 'Roboto', sans-serif;
  
    header {
      background-color: $colorAmarillo;
  
      .flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
  
      nav {
        .buscador, .logo {
          width: 300px;
          padding-top: 15px;
          padding-left: 20px;
        }
      }
  
      .cuotas {
        padding-top: 25px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 16px;
      }
  
      nav ul {
        display: none;
        padding-bottom: 20px;
  
        li a {
          color: #000000;
          font-size: 16px;
          font-weight: 500;
        }
      }
  
      .centrado {
        text-align: center;
        padding-bottom: 20px;
      }
  
      .burger-menu {
        display: inline-block;
        width: 30px;
        background-color: $colorAzul;
        color: white;
        padding: 6px;
        border-radius: 4px;
      }
    }
  }

  @media (min-width: 361px) {
    /* header */
  
    .home {
      header {
        nav ul {
          display: block;
        }
  
        .burger-menu {
          display: none;
        }
      }
    }
  }

@media (min-width: 769px) {
  /* header */

  .home {
    header {
      padding: 0 10px;

      .flex {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}